<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "home.html" %}


{% block content %}
<div id="content">
    <form action="" method="post" name="Kurav">
        {{form.hidden_tag()}}
        <p>
            Пoжалуйста введи координаты точек A,B,C<br>
            A<br>
            {{form.ax(size=67)}}<br>
            {{form.ay(size=67)}}<br>
            B<br>
            {{form.bx(size=67)}}<br>
            {{form.by(size=67)}}<br>
            C<br>
            {{form.cx(size=67)}}<br>
            {{form.cy(size=67)}}<br>
        </p>
        <p><input type="submit" value="Значения введены"></p>
    </form>
    {%with messages = get_flashed_messages() %}
    {% if messages%}
    <u1>
        {% for message in messages%}
        <li>{{message}}</li>
        {% endfor%}
    </u1>
    {%endif%}
    {%endwith%}
</div>
{% endblock %}
</body>
</html>
